body {
    color: red;
}
h1 {
    color: blueviolet;
}





















/* element selector
/*  */
/* body {
    background-color: aquamarine;
}
h1{
 color: red;
}
p {
    font-size: 20px;  
}
li {
    color: green;
} */ 

/* class selector yoziladi-"." nuqta bilan */
/* .club-1 {
    color: yellow;
}
.club-2 {
    color: brown;
}
.club-3 {
    color: bisque;
} */
/* id selectorlar yoziladi-"#"  reshotka bilan */
/* 
#theBest {
    color: pink;
} */
/* attribute selector yoziladi-"[]" to'rburchak qavs ichiga */
/* 
[disabled] {
    font-size: 25px;
}

/* Universal selector */
/* 
* {
    color: red;
} */ 
 /* Universal selector */
 /* * {
    color: red;
 }
 h1 {
    color: blue;
 }
 .head-1 {
    color: yellow;
 }
 #head-1 {
    color: aquamarine;
 }
 [disabled] {
    color: orange;
 } */